body {
  margin: 0;
  background-image: url(../images/water-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(153,200,200,0.1);
}


a:link {color: #3986E5;
}
a:visited {color: #3986E5;
}
a:hover {color: #fcd017;
}
a:active {color: #3986E5;
}
#hamburger{
  display: none;
  position: relative;
  z-index: 99;
  font-size: 1.5em;
}
@media (max-width: 767px) {
  #navbar{
    position: fixed;
    top: -100%;
    height: 50%;
    transition: top 350ms ease-in-out;
    background-image: url(/images/sand.png);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  #container.mobile-open #navbar{
    top: 0;
  }
  #header {
    height: 80%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #social {
    min-width: 125px;
    font-size: 1em;
    text-align: center;

  }
  #hamburger{
    display: block;
    transform: rotate(90deg);
    z-index: 99;
    margin: 1em;
  }
  #container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
  }
  #vBGContainer {
    display: none;
  }
  #logo {
    z-index: 100;
  }
  #goodfun {
  }
  #goodfun-content {
  }
h2 {
    font-size: 1.12em;
  }
p {
    font-size: .8em;
  }
  #section2{
    background-position: center;
    background-size: 1000px
  }
  #section3{
    font-size: 5em;
  }
  #section4{
    background-position: center;
    background-size: 1000px
  }
}
@media (min-width: 768px) {
  #header {
    display: flex;
    justify-content: space-around;
  }
  #goodfun-content h2 {
    font-size: 2em;
  }
  #goodfun-content p {
    font-size: 1.25em;
  }
  #goodfun {
    background-position: -90px -155px;
    background-size: 2000px;
  }
  #section2{
    background-position: -500px -200px;
    background-size: 1900px
  }
  #section3{
    font-size: 6em;
  }
  #section4{
    background-position: center;
    background-size: 2000px
  }
}
#vBGContainer {
  width: 100%;
}
#videoBackground {
      right: 0;
      top: 0;
      width: 100%;
      min-height: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
}
#container {
    color: #000000;
    width: 100%;
    margin: 0px auto;
    background-image: url(/images/sand.png);
    height: 58px;
    z-index: 1000;
}
.stuck {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}
.stuck + #goodfun {
  padding-top: 70px;
}
#navbar {
  width: 100%;
  margin: auto;
  height: 100%;
}
#logo {
    width: 10%;
    height: 100%;
    background-image: url(/images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
#header {
  width: 70%;
  float: left;
   padding: 5px
}
#header h1 {
  margin: 5px auto;
  text-align: center;
  font-size: 1.8em;
  font-family: 'Nanum Gothic Coding', monospace;
}
#header h1 a {
    padding: 0px 12px;
    text-decoration-line: none;
}
#social {
    width: 15%;
    height: 100%;
    min-width: 125px;
    float: right;
    font-size: 1em;
    text-align: right;
    display: flex;
    flex-direction: row;
}
#social a {
  margin: auto;
}
#social a img {
    width: 30px;
    padding: 0px 2px;
}
#goodfun {
  min-width: 100%;
  height: 665px;
  background-repeat: no-repeat;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#goodfun-content{
  box-sizing: border-box;
  border: 7px solid white;
  padding: 11px;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  margin: auto;

}
#goodfun-content h2 {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}
#goodfun-content p {
  margin: 4px 0;
  font-family: sans-serif;
  color: red;
}
#goodfun-pic {
  background-image: url(../images/van.jpg);
  background-repeat: no-repeat;
  background-position-x: 22%;
  background-position-y: 46%;
  background-size: cover;
  flex-grow: 25;
  margin: auto;
  width: 100%;
}
/*
#ourCider{
      font-family: 'Ariel', sans-serif;
    font-size: 1rem;
    width: 100%;
    height: 420px;
    margin: auto;
    text-align: center;
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
    align-items: center;
}
#ourCiderBlerb {
     border-width: 8px;
    border-color: lightblue;
    border-style: solid;
    text-align: center;
    width: 420px;
  }
#ourCiderPicContainer{
    width: 310px;
    height: 100%;
    display: inline-block;
}
#ourCiderPic1 {
  background-image:url(/images/DSC_0339.JPG) ;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  height: 50%;
  }
#ourCiderPic2{
  background-image:url(/images/DSC_0362.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  clear: both;
  margin: auto;
  width: 100%;
  height: 50%;
  }
#ourCiderPic3{
  background-image: url(/images/DSC_0310.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    width: 234px;
    height: 100%;
    display: inline-block;
  }
*/
#section2{
  background-image: url(../images/2.jpg);
  background-repeat: no-repeat;
  height: 300px;
  width:100%;
  margin: 5px 0px
}
#section3{
  background-image: url(../images/3cans.jpg);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  display: flex;
  height: 250px;
  width:100%;
  margin: 0px;
  text-align: center;
  color: #3986E5;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: bold;
}
  #section3 p {
    margin: auto;
  }
#section4{
  background-repeat: no-repeat;
  width: 100%;
  margin: 0px;
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 1124px) {
  #textbody {
      max-width: 47%;
  }
  #pic1{
    max-width: 47%;
  }
  #piccontainer{
    max-width: 100%;
    display: none;
  }
}
@media (min-width: 1125px){
  #textbody {
    max-width: 32%;
  }
  #pic1{
    max-width: 32%;
  }
  #piccontainer{
    max-width: 32%;
    display: flex;
  }
}
  #textbody{
    width: 375px;
    height: 610px;
    margin: auto;
    padding: 3px;
    align-self: auto;
    flex-grow: 1;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.4rem;
    line-height: 1.25;
  }
    #textbody p {
    margin: 12px 10px;
    }
    #textbody a:link, #textbody a:visited, #textbody a:active, #textbody a:hover {
      color: red;

    }

  #pic1 {
    width: 375px;
    height: 610px;
    margin: auto;
    align-self: auto;
    flex-grow: 1;
    z-index: 50;
  }
  #pic1 img {
    left: -30%;
    position: relative;
    z-index: -1;
  }

  #piccontainer {
    margin: auto;
    align-self: auto;
    flex-direction: row;
    flex-wrap: wrap;
    height: 610px;
    width: 375px;
    flex-grow: 1;
  }
    #pic2 {
      height: 300px;
      margin: auto;
      align-self: auto;
    }

    #pic3 {
      height: 300px;
      margin: auto;
      align-self: auto;
    }
      .tastingroom {
        display: flex;
        overflow: hidden;
      }
        .tastingroom img {
          flex-shrink: 1;
          height: 100%;
          margin: auto;
         }
#section5 {
}
  #section5 p {
    text-align: center;
    font-size: 2em;
    color: red;
    font-family: sans-serif;
  }

#section6 {

}
#section7 {

}
#comingSoon{
  background-image: url(/images/comingsoon.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 560px;
  width:100%;
  margin: 5px 0px
}
#blerbContainer1 {
  margin: auto;
  clear: both;
  width: 90%;
}
#leftFloatBlerb {
  float: left;
  width: 48%;
}
#rightFloatBleb{
  float: left;
  width: 48%;
}
