
@font-face {
    font-family: 'penitentiary_gothic_fillRg';
    src: url('penitentiarygothic-webfont.woff2') format('woff2'),
         url('penitentiarygothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Gothic Coding';
    src: url('NanumGothicCoding-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Font Families
font-family: 'Permanent Marker',cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Walter Turncoat', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Sriracha', cursive;
*/

html, body {
	height: 100%;
	margin: 0;
}
body {
	background-color: transparent;
	background-size: 80%;
	background-position-x: center;
 	background-repeat: no-repeat;
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'penitentiary_gothic_fillRg', monospace;
	text-transform: uppercase;

}
#background {
  
}

hr {
	border: 0;
	height: 1px;
	-webkit-margin-before: 2px;
	-webkit-margin-after: 2px;
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
	background-image:    -moz-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
	background-image:     -ms-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
	background-image:      -o-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
}
h1 {
	display:block;
	margin: 0;
	font-weight: bold;
	font-size: 2.5rem;
	opacity:1;
	color: darkorange;
}

img {
	margin-left: auto;
	margin-right: auto;
}

/* Header Styles */
.header {
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
	padding-top: 15px;
}
.HeaderCenter {
	width: 70%;
	margin: auto;
	text-align: center;
}

#dynamic-menu{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	align-items: flex-start;
}
	#dynamic-menu div table td{
		padding-right: 30px;
	}
#leftColumn {
	width: 100%;
	margin: 2%;
}

#rightColumn {
	width: 0%;
	height: 80%;
}

#pricesMenu {
	width: 100%;
	height: 10%;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
  #pricesMenu #price-container td{
    color: darkorange;
  }

table{
	width: 100%;
	border-collapse: collapse;
	margin-left:5px;
	font-size: 1.5rem;
}
table th,
table td{
	padding: 2px 5px;
	text-align: left;
	vertical-align: top;
}
table tr {
}
table th:first-child,
table td:first-child{
	border-left: none;
	width: 90%;
}
table thead{
	padding: 0px;
	margin: auto;
	font-size: 4.1rem;
	text-align: center;
	color: darkorange;
	text-decoration: underline;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
table thead th{
	min-height:35px;
	font-size: .65em;
	font-weight: bold;
	vertical-align: top;
}
table thead tr td {
	text-align: center;
}

table h3 {
	text-align: left;

}

table h2 {
	text-align: left;
}

.altrow{
	background-color: rgba(153,153,153,.3);
}
tr:nth-child(4n+3) {
    background-color: rgba(153,153,153,.3);
}
tr:nth-child(4n+4) {
    background-color: rgba(153,153,153,.3);
}
tr:nth-child(even){
	font-family: 'Nanum Gothic Coding', monospace;
	text-transform: none;
}
tr:nth-child(even) td {
	padding-bottom: 10px;
}

.table-divide {
	margin: 0 auto 30px;
	width: 100%;
}

#price-table tbody tr td{
	width: auto;
    text-align: center;
    padding: 2px 0px;
}
#price-table thead {
	color: darkorange;
}
.merchAndPrices {
	text-align: center;
}
.cFCell {
	width: 50%;
	float: left;
	text-align: center;
}
.mFCell {
	width: 50%;
	float: left;
	text-align: center;
}
/** brandy price div
.bCell {
	width: 29%;
	float: left;
	text-align: center;
}
**/
